@model Web_BanHang_T6S34.Models.Category

@{
    ViewData["Title"] = "Thêm danh mục";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Tên danh mục</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
